body {
    color:#404040;
    margin:0;
    padding:0;
  }
.map {
    position:absolute;
      left: 21%;
    width:900px;
      height: 800px;
    top:0;bottom:0;
  }
  .sidebar {
    position:absolute;
    width:250px;
    height:800px;
    top:0;left:0;
    overflow:hidden;
      background-color: cornflowerblue;
    border-right:2px solid rgba(0,0,0,0.25);
  }
  .obsfp {
      position:absolute;
      align-content: center;
      top:0;
      height: 30%;
      flex-wrap: wrap;
  }
  .obsforroute {
      position: absolute;
      align-content: center;
      flex-wrap: wrap;
      top: 30%;
      height: 50%;
  }
  .roads {
      position: absolute;
      align-content: center;
      top: 50%;
      height: 70%;
  }
  .aerodata {
       position: absolute;
      align-content: center;
      top: 70%;
      height: 85%;
  }
